global
  log stdout format raw local0 info
  maxconn 4096

defaults
  log global
  mode http
  option httplog
  option forwardfor
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend https_frontend
  bind *:15443 ssl crt /etc/haproxy/certs/haproxy.pem
  default_backend nextjs_backend

backend nextjs_backend
  server nextjs nextjs:3000 check
